.menu {
	width: 900px;
	margin: 0% auto;
}



.card__imagen {
	width: 100%;
}

.seccionPrincipal {
	h1 {
		color: $color_1;
		background-color: $background-color_2;
		padding: 60px;
		border-radius: 30px;
	}
}